.header_custom table thead > tr > th {
background-color: #0D3349 !important;
color: #86b7fe !important;
text-align: center !important;
}
.header_custom table thead > tr > th:nth-child(2){
width: 250px !important;
}
